
<style>
.tap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 180px;
    border: 6px solid #fff;
    border-left: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url('../assets/water.jpg');
    background-repeat: repeat-x;
    animation: start 5s linear infinite;
}
.tap:before{
  content: '';
  position: absolute;
  width: 500px;
  height: 80px;
  border: 6px solid #fff;
  right: -513px;
  top: 43px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.start{
  position: absolute;
  right: -200px;
  top: 80px;
}

.stop{
  position: absolute;
  right: -300px;
  top: 80px;
}
.tap-start{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 180px;
    border: 6px solid #fff;
    border-left: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url('../assets/water.jpg');
    background-repeat: repeat-x;
    animation: start 5s linear infinite;
}
.tap-start:before{
  content: '';
  position: absolute;
  width: 500px;
  height: 80px;
  border: 6px solid #fff;
  right: -513px;
  top: 43px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
@keyframes start {
  0%{
    background-position: 2000px 0;
  }
}
</style>

<div class="tap">
  <button class="start" onclick="start()">Start</button>
  <button class="stop">Stop</button>
</div>

